body{
  background-color: #F6F5F0;
  text-align: center;
}

a{
  color: inherit;
}

li{
  font-size: 1.1em;
}

#navbar a{
  color:#fff;
}

@font-face {
  font-family: AmalfiCoast;
  src: url('images/font/amalfiCoast.ttf');
}

.specialtext{
  font-family: amalfiCoast;
  line-height: 2.25em;
}

.featuretitle{
  font-family: 'EB Garamond', sans-serif;
}

.subheading{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: lighter;
}

.blocktext{
  line-height: 2rem;
  font-weight: lighter;
  padding-left: 0;
}

.fixedPosition{
  overflow: hidden;
}

.nav-text:hover{
  color: #C39E9E!important;
  font-size: 1.25em;
}

.overlayHover:hover{
  color: #55504f!important;
  font-size: 1.25em;
}

.social-icon:hover{
  color: #C39E9E!important;
  font-size: 4.5em;
}

.media-icon:hover{
  color: #55504f!important;
}

/* Containers */

.container-fluid{
  padding: 1% 2%;
}

/* Navigation Bar */

#navbar {
  width: 100%;
  position: fixed;
  top:0;
  transition: top 0.5s;
  line-height: 2.75rem;
  z-index: 2;
  color: white;
}

.navbar-toggler{
  border-style: none;
}

.nav-link{
  font-size: 4em;
  font-family: AmalfiCoast, sans-serif;
  font-weight:600;
  margin-bottom: 2em;
  text-align: right;
}

.nav-item {
  margin: 0px;
  line-height: 2em;
}

.navbar-brand{
  border-radius: 100%;
  max-width: 100%;
  margin: 0 -30px;
  padding: 0px;
  text-align: left;
  border-color: #C39E9E;
  border-style: solid;
}

.navbar-collapse.show {
  margin: 30% 5% 0 2.5%;
  color: #fff;
}

.social-icon{
  font-size: 4rem;
  margin: -5px 0 20px 0;
  border-style: solid;
  border-radius: 70px;
  border-width: 3px;
  padding: 10px;
}

.svg-inline--fa.fa-w-14 {
    width: 1em;
}

.svg-inline--fa.fa-w-9 {
    width: 1em;
}

@media (max-width: 600px){
  .nav-link{
    font-size: 4.5em;
    line-height: 2.75rem;
  }
}

@media (min-width: 992px){
  .nav-link{
    font-size: 1.5em;
    line-height: 2.75rem;
  }
}

@media (min-width: 1000px){
  .nav-item{
    margin: 25px 12px;
  }
}

/* Main Page*/

.homepage{
  position: relative;
  text-align: center;
  width: 100%;
  top: 135px;
}

 @media (min-height: 900px){

  .featured-image{
    margin-bottom: 70px;
  }

  .service-image{
    margin-bottom: 70px;
  }
}

@media (min-width: 900px){
  .featured-image{
    margin-bottom: 170px;
  }

  .service-image{
    top: 0px;
    margin-bottom: 70px;
  }
}

@media (min-width: 1300px){
  .overlaytext{
    top: 4.5em!important;
  }

  .overlaytext-aboutMe{
    top: 3em!important;
  }
}

.featured-image{
  display: block;
  /* height: 100vh; */
}

.service-image{
  display: block;
}


/* Instagram feed */
.instagramfeed{
}

#instafeed {
  padding: 0 20%;
  display: flex;
  background-color: #e4d7d4;
  justify-content: center;
  align-items: center;
  position: relative;
  border-style: solid;
  border-color: #C39E9E;
  border-left: 0;
  border-right: 0;
  overflow: hidden;
}

  @media (max-width: 992px) {
    #instafeed{
      display: block;
      padding: 0 10% 0 10%;
    }

    #instafeed img {
    width: 100%!important;
    height: auto!important;
    }

    #instafeed a {
      /* padding: 5%; */
    }
}

#instafeed img {
width: auto;
height: 200px;
border-radius: 5%;
}
#instafeed a {
  /* width: auto!important; */
}

#instafeed div{
  display: 100%;
  /* padding: 0 1%; */
  /* width: 33%; */
}

/* Contact */
.contact-area{
  text-align: center;
}

.btn {
    background-color: #CFC2BF;
    margin: 2% 0 5%;
    font-family: 'EB Garamond', sans-serif;
    font-size: 2em;
    border-radius: .6em;
    border-color: #C39E9E;
}

.btn:hover{
  background-color: #C39E9E;
  border-color: #55504f;
}

/* Footer */
#footer{
  padding-top: 2.5%;
}

.footer-icon{
}

/* About me */

#aboutMe{
  margin-top: 200px;
}

.aboutMe{
  padding: 0 15%;
  line-height: 2rem;
}

.aboutme-focus{
  text-align: left;
}

.aboutme-frame{
  text-align: center;
}

.aboutme-image{
  text-align: right;
  max-width: 100%;
  border-radius: 2.5%;
  border-style: solid;
  border-color: #C39E9E;
}

.feature-box{
  padding-bottom: 2.5%;
  position: relative;
}

/* Service Page */
.details{
  padding: 0 15%;
  text-align: left;
  line-height: 2rem;
}

.serviceImage{
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px;
  border-style: solid;
  border-color: #C39E9E;
}

.service-text{
  padding-bottom: 2.5%;
}

.content-title{
  text-align: center;
  margin: 0 0 1em;
}

.featured-title{
  font-family: ;
}

.service-flower01{
  display:none;
}

@media (min-width:992px){
  .service-flower01{
    display: block;
    position: absolute;
    right: 0;
    opacity: .5;
    height: 250px;
    top: 10%;
  }
}

.service-flower02{
  display:none;
}

@media (min-width:992px){
  .service-flower02{
    display: block;
    position: absolute;
    right: 0;
    opacity: .3;
    height: 275px;
    top: -70%;
    transform: rotate(-20deg);
  }
}

/* Contact */
#contact{
  padding: 20% 15% 0;
}

.move-left{
  padding-left: 0;
}

.form-group{
  margin-left: -15px;
}

.thank-box{
  margin-top: 1.5em;
}

.form-check-input {
    position: relative;
    margin-top: .3rem;
    margin-left: -2rem;
    margin-right: 0.5rem;
}

.contact-image{
  max-width: 100%;
  padding: 0;
  float: inherit;
  border-radius: 2.5%;
  border-style: solid;
  border-color: #C39E9E;
}

.contact-form{
  background-color: #fff;
  height=918;
  min-width: 100%;
  max-width: 600px;
  border-radius: 2.5%;
  border-style: solid;
  border-color: #C39E9E;"
}

.contact-details{
  text-align: left;
  margin-top: 3em;
}

.contact-flower{
  display:none;
}

@media (min-width:992px){
  .contact-flower{
    display: block;
    position: absolute;
    right: 20%;
    height: 450px;
    top: 132.5%;
  }
}

#overlay{
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(197,160,159,1), rgba(197,160,159,0.95));
  transition: opacity 0.3s;
  z-index: 1;
}

.overlaytext-aboutMe{
  position: relative;
  text-align: center;
  top: 5em;
  line-height: 2em;
  color: white;
  font-family: amalfiCoast;
  font-weight: lighter;
  font-size: 5rem;
}

.overlaytext{
  position: relative;
  text-align: center;
  top: 6em;
  line-height: 2em;
  color: white;
  font-family: amalfiCoast;
  font-weight: lighter;
  font-size: 5rem;
}

/* Icon 1 */

.animated-icon1{
width: 90px;
height: 40px;
position: relative;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}

.animated-icon1 span{
display: block;
position: absolute;
height: 5px;
width: 100%;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}

.home-burgericon span{
  background: black;
}

.animated-icon1 span {
background: white;
}

.animated-icon1 span:nth-child(1) {
top: 0px;
}

.animated-icon1 span:nth-child(2) {
top: 25px;
}

.animated-icon1 span:nth-child(3) {
top: 50px;
}

.animated-icon1.open span:nth-child(1) {
top: 11px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
opacity: 0;
left: -60px;
}

.animated-icon1.open span:nth-child(3) {
top: 11px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
transform: rotate(-135deg);
}

/* mobile social icon re-arrange */

@media (max-width: 992px){

  .nav-icon{
    border-style: solid;
    border-radius: 70px;
    border-width: 6px;
    line-height: 1.35em;
    padding: 10px 0;
    font-size: 6em;
  }

  .social-insta{
    position: absolute;
    bottom:10%;
  }

  .social-fb{
    position: absolute;
    bottom:25%;
  }

  .social-insta a, .social-fb a{
    color: white!important;
  }

  #navbar .container-fluid{
    height: 100vh;
  }

  #navbar a{
    color:#fff!important;
  }
}
